@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: #454f3d;
    
}


  
  .hero {
    
    padding: 50px 20px;
  }
  
  .hero h1 {

    background: red;
    margin-right: auto;
    font-size: 2.6rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;

  }
  
  .hero p {
    background: pink;
    max-width: 600px;
    margin: 0 auto 50px;
    color: #666;
    line-height: 1.6;
  }
  
  .explore-btn {

    background: cadetblue;
    margin-left: 500px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

  }
  
  .explore-btn:hover {
    background: yellow;
    background-color: #555;
  }
  
  .image-grid {
    background: blanchedalmond;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .image-grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
  }
  
