:root{
    --color-1: #eee;
    --color-2: #252525;
    --color-3: hsla(0, 0%, 15%, 0.253);
    /* Barra de scroll */
    --color-3: #888;
    --color-4: #555;
    --color-5:#454f3d;
}

@font-face{

    font-family:"Poppins-semiBold" ;
     src: url(../storage/font/static/Montserrat-SemiBold.ttf);
     
}